
video {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: blur( 3px );
}
.topo {
	font-size: 50px;
    background-color: #62eefc;
	text-transform: uppercase;
	font-family: 'Slabo 27px', serif;
}
.sobre-video {
	position: absolute;
    margin: -44% 15% 15% 30%;
	font-family: 'Share Tech', sans-serif;
	font-size: 140px;
	text-transform: uppercase;
}
section {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 42%;    
}